<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.njnu.qaserver.mapper.QuestionMapper">
    <select id="getQuestionCounts" resultMap="statMap">
        SELECT
            subject_id,
            count(subject_id) AS `count`
        FROM
            question
        GROUP BY
            subject_id
    </select>

    <select id="searchQuestion" resultType="edu.njnu.qaserver.pojo.Question">
        SELECT
            q.question_id AS `question_id`,
            q.time AS `time`,
            q.main_content AS `main_content`,
            q.img AS `img`,
            q.credit AS `credit`,
            q.user_id AS `user_id`,
            q.subject_id AS `subject_id`,
            q.title AS `title`
        FROM
            question q JOIN question_tag_linker l ON q.question_id = l.question_id
        <where>
            (q.`title` LIKE concat('%', #{target}, '%') ESCAPE '/'
            OR q.`main_content` LIKE concat('%', #{target}, '%') ESCAPE '/')
            AND l.tag_id IN
            <foreach collection="tagIDs" item="tagID" index="index" open="(" separator="," close=")">
                #{tagID}
            </foreach>
            <if test="subjectID != 0">
                AND q.subject_id = #{subjectID}
            </if>
        </where>
    </select>

    <select id="completeQuestion" resultType="edu.njnu.qaserver.pojo.Question">
        SELECT
            q.title AS `title`
        FROM
        question q JOIN question_tag_linker l ON q.question_id = l.question_id
        <where>
            (q.`title` LIKE concat('%', #{target}, '%') ESCAPE '/'
            OR q.`main_content` LIKE concat('%', #{target}, '%') ESCAPE '/')
            AND l.tag_id IN
            <foreach collection="tagIDs" item="tagID" index="index" open="(" separator="," close=")">
                #{tagID}
            </foreach>
            <if test="subjectID != 0">
                AND q.subject_id = #{subjectID}
            </if>
        </where>
    </select>

    <resultMap id="statMap" type="edu.njnu.qaserver.pojo.SubjectQuestionStat">
        <result property="subjectID" column="subject_id" />
        <result property="count" column="count" />
    </resultMap>
</mapper>